@page
@model LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<h1>Logout</h1>
<h5>Pomyślnie się wylogowałeś!</h5>
<script>
    signOut();
</script>

@section Scripts{
    <partial name="_GoogleScript" />
}