@{
    string urlPath = Url.ActionContext.ActionDescriptor.DisplayName;
    List<string> elements = urlPath.Split('/', StringSplitOptions.RemoveEmptyEntries).ToList();
}


<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="title">
            <h4>Nawigacja</h4>
        </div>
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                @{
                    int elementsAmount = elements.Count;
                    if (elementsAmount == 1)
                    {
                        var element = elements.First();
                        if (element == "Index")
                        {
                            <li class="breadcrumb-item active"><a asp-page="/Index">Główna Strona</a></li>
                        }
                        else
                        {
                            <li class="breadcrumb-item"><a asp-page="/Index">Główna Strona</a></li>
                            <li class="breadcrumb-item active"><a asp-page="Index">@element</a></li>
                        }
                    }
                    else if (elementsAmount > 1)
                    {
                        <li class="breadcrumb-item"><a asp-page="/Index">Główna Strona</a></li>
                        var action = elements.Last();
                        elements.Remove(action);

                        foreach (var element in elements)
                        {
                            <li class="breadcrumb-item"><a asp-page="/@element/Index">@element</a></li>
                        }

                        <li class="breadcrumb-item active"><a asp-page="urlPath">@action</a></li>
                    }
                }
            </ol>
        </nav>
    </div>
</div>
