@page
@model Refuel.Areas.Panel.Pages.Vehicles.DetailsModel
@{
    bool isCorrect = (bool)ViewData["isCorrect"];
}

<h2>Vehicle details</h2>
@if(isCorrect)
{
    <h3>Taadam, your vehicle!</h3>
}
else
{
    <h3>This is not ur vehicle</h3>
}
<h5><s>TODO: Check if showing a car to proper owner</s></h5>
<h5><s>TODO: fix ViewData bug</s></h5>
<h5>TODO: add info about no cars</h5>