@page
@model Refuel.Areas.Panel.Pages.Vehicles.IndexModel
@addTagHelper *, Refuel

<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
        <button class="btn btn-success width-50-p float-right">Dodaj nowy</button>
    </div>
</div>
<div class="row marginTop20">
    <div class="col-md-12">
        <vc:vehicles-table user-id="@Int32.Parse(HttpContext.User.Claims.First(claim => claim.Type.Contains("nameidentifier")).Value)" />
    </div>
</div>