@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Panel</h1>
@if (User.Identity.IsAuthenticated)
{
    <h5>Jesteś zalogowany. Brawo!</h5>
}
else
{
    <h5>Nie jesteś zalogowany :(</h5>
}
