@page "{vehicleId:int}"
@using RefuelType = Database.Models.Refuel
@model Refuel.Areas.Panel.Pages.Refuels.VehicleStatsModel
@{

}

<div class="row">
    <div class="col-md-10">
        <h2>Statystyki pojazdu @ViewData["vehicleName"]</h2>
    </div>
    <div class="col-md-2">
        <select asp-items="Html.GetEnumSelectList<Database.Models.FuelType>()" id="fuelsList" class="form-control" onchange="handleFuelType()">
            <option hidden disabled selected value="">Wybierz paliwo</option>
        </select>
    </div>
</div>
<div class="row marginTop20">
    <div class="col-md-4">
        <div class="alert alert-success">
            <p>Cena za 100km</p>
            <p class="noLineHeight font-weight-bold" id="priceFor100Km">0.00</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="alert alert-success">
            <p>Średnie spalanie</p>
            <p class="noLineHeight font-weight-bold" id="averageCombustion">0.00</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="alert alert-success">
            <p>Sumaryczne koszty</p>
            <p class="noLineHeight font-weight-bold" id="totalCosts">0.00</p>
        </div>
    </div>
</div>
<div class="row marginTop20">
    <table class="table table-bordered">
        <thead>
            <tr id="petrolTypesHeader">
                <td class="table-primary text-center">Opis/Typ Paliwa</td>
                @foreach (Database.Models.FuelType fuelType in (Database.Models.FuelType[])Enum.GetValues(typeof(Database.Models.FuelType)))
                {
                    <td class="table-primary text-center" id="@fuelType">@Utils.EnumDescriptionHelper.GetDisplayName(fuelType)</td>
                }
            </tr>
        </thead>
        <tbody>
            <tr id="petrolTypesCosts">
                <td class="alert-primary text-center">Koszty</td>
            </tr>
            <tr id="petrolTypesCombustion">
                <td class="alert-primary text-center">Średnie spalanie</td>
            </tr>
            <tr id="petrolTypesPriceFor100Km">
                <td class="alert-primary text-center">Cena za 100Km</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row marginTop20">
    <canvas id="combustionChart" style="width: 50%;" height="500"></canvas>
    <canvas id="priceChart" style="width: 50%;" height="500"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
<script src="/js/charts.js"></script>
