@page "{vehicleId:int}"
@model Refuel.Areas.Panel.Pages.Refuels.StatsModel
@{
}

<h2>Stats go here</h2>
<div class="row marginTop20">
    <div class="col-md-6">
        <div class="alert alert-success">
            Cena za 100km<br />
            123.123123
        </div>
    </div>
    <div class="col-md-6">
        <div class="alert alert-success">
            Średnie spalanie<br />
            234.345345
        </div>
    </div>
</div>
<div class="row marginTop20">
    <canvas id="myChart" style="width: 50%;" height="500"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
<script src="/js/charts.js"></script>
