@page "{vehicleId:int}"
@model Refuel.Areas.Panel.Pages.Refuels.StatsModel
@{

}

<div class="row">
    <div class="col-md-10">
        <h2>Statystyki pojazdu @ViewData["vehicleName"]</h2>
    </div>
    <div class="col-md-2">
        <select asp-items="Html.GetEnumSelectList<Database.Models.FuelType>()" id="fuelsList" class="form-control" onchange="handleFuelType()">
            <option hidden disabled selected value="">Wybierz paliwo</option>
        </select>
    </div>
</div>
<div class="row marginTop20">
    <div class="col-md-6">
        <div class="alert alert-success">
            <p>Cena za 100km</p>
            <p class="noLineHeight font-weight-bold" id="priceFor100Km">0.00</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="alert alert-success">
            <p>Średnie spalanie</p>
            <p class="noLineHeight font-weight-bold" id="averageCombustion">0.00</p>
        </div>
    </div>
</div>
<div class="row marginTop20">
    <canvas id="myChart" style="width: 50%;" height="500"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
<script src="/js/charts.js"></script>
