@page "{vehicleId:int}"
@model Refuel.Areas.Panel.Pages.Refuels.StatsModel
@{
}

<h2>Stats go here</h2>
<div class="row marginTop20">
    <div class="col-md-6">
        <div class="alert alert-success">
            Cena za 100km<br />
            123.123123
        </div>
    </div>
    <div class="col-md-6">
        <div class="alert alert-success">
            Średnie spalanie<br />
            234.345345
        </div>
    </div>
</div>